IPAS/Connected Services/HRDashboard_ServiceReference/HRDashboardService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56045/HRDashboardService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iPAS_Service" />
  <xs:element name="GetCountInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCountInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="GetCountInfoResult" nillable="true" type="q1:CountInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetails">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="employeeDetails" nillable="true" type="q2:RegistrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="GetEmployeeDetailsResult" nillable="true" type="q3:RegistrationInfoClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotDeptCountInfo">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="dept" nillable="true" type="q4:DepartmentInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="TotDeptCountInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="TotDeptCountInfoResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpOrDept">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
        <xs:element minOccurs="0" name="deptID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteEmpOrDeptResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteEmpOrDeptResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptRejectEmpl">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="emp" nillable="true" type="q5:RegistrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AcceptRejectEmplResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="AcceptRejectEmplResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewHR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="userName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="AddNewHRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="AddNewHRResult" nillable="true" type="q6:ErrorInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALLHRDetails">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetALLHRDetailsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="GetALLHRDetailsResult" nillable="true" type="q7:RegistrationInfoClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHR">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="empID" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteHRResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="DeleteHRResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>