IPAS/Connected Services/Registration_ServiceReference/RegistrationService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="RegistrationService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:56045/RegistrationService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:56045/RegistrationService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:56045/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iPAS_Service" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IRegistrationService_GetDepartment_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartment" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_GetDepartment_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDepartmentResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_InsertNewRegisteredUser_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewRegisteredUser" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_InsertNewRegisteredUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertNewRegisteredUserResponse" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_BindLanguages_InputMessage">
    <wsdl:part name="parameters" element="tns:BindLanguages" />
  </wsdl:message>
  <wsdl:message name="IRegistrationService_BindLanguages_OutputMessage">
    <wsdl:part name="parameters" element="tns:BindLanguagesResponse" />
  </wsdl:message>
  <wsdl:portType name="IRegistrationService">
    <wsdl:operation name="GetDepartment">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/GetDepartment" message="tns:IRegistrationService_GetDepartment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/GetDepartmentResponse" message="tns:IRegistrationService_GetDepartment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertNewRegisteredUser">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/InsertNewRegisteredUser" message="tns:IRegistrationService_InsertNewRegisteredUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/InsertNewRegisteredUserResponse" message="tns:IRegistrationService_InsertNewRegisteredUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="BindLanguages">
      <wsdl:input wsaw:Action="http://tempuri.org/IRegistrationService/BindLanguages" message="tns:IRegistrationService_BindLanguages_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IRegistrationService/BindLanguagesResponse" message="tns:IRegistrationService_BindLanguages_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IRegistrationService" type="tns:IRegistrationService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetDepartment">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/GetDepartment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertNewRegisteredUser">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/InsertNewRegisteredUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="BindLanguages">
      <soap:operation soapAction="http://tempuri.org/IRegistrationService/BindLanguages" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RegistrationService">
    <wsdl:port name="BasicHttpBinding_IRegistrationService" binding="tns:BasicHttpBinding_IRegistrationService">
      <soap:address location="http://localhost:56045/RegistrationService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>