IPAS/Connected Services/Registration_ServiceReference/RegistrationService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56045/RegistrationService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iPAS_Service" />
  <xs:element name="GetDepartment">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDepartmentResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="GetDepartmentResult" nillable="true" type="q1:DepartmentListInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewRegisteredUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="newUser" nillable="true" type="q2:RegistrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertNewRegisteredUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="InsertNewRegisteredUserResult" nillable="true" type="q3:RegistrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="BindLanguages">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="BindLanguagesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="BindLanguagesResult" nillable="true" type="q4:RegistrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>