IPAS/Connected Services/Login_ServiceReference/LoginService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:56045/LoginService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/iPAS_Service" />
  <xs:element name="UserCredential">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="user" nillable="true" type="q1:RegistrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UserCredentialResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/iPAS_Service" minOccurs="0" name="UserCredentialResult" nillable="true" type="q2:RegistrationInfo" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>